body {
    margin: 0;
    padding: 0;
font-family: "Segoe UI", sans-serif;
}

header {
    background-color: rgb(2, 133, 65);
    padding: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    img {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        a {
            font-size: 20px;
        }

        transition: 0.3s;

        &:hover {

            transform: scale(1.1);
        }

        font-weight: bold;
    }

    h1 {
        margin: 0%;
        color: white;
    }

}

footer {
    background-color: rgb(2, 133, 65);
    color: white;
    text-align: center;

    p {
        padding: 1rem;
        margin: 0;
    }
}



#canchaDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

#cancha {
    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.centrado {
    width: 80%;
}

#detalle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    /* Dos filas */
    gap: 0.5rem;
}

#detalle #ubicacion {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* Ocupa ambas filas de la primera columna */
    padding: 1rem;


}

#ubicacion #canchaUbicacion {
    color: gray;
    font-weight: lighter;
}

#detalle #descripcion {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* Primera fila, segunda columna */
    padding: 1rem;
}

#detalle #servicios {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* Segunda fila, segunda columna */
    padding: 1rem;

    ul {

        padding-left: 0.5rem;

        li {
            list-style-type: none;
            color: grey;
            margin: 1rem 0;
        }
    }

}

.cards {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
}

#dias {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.btnDias {
    width: 10rem;
    background-color: rgb(2, 133, 65);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btnDias :active {
    background-color: white;
    color: rgb(2, 133, 65);
}

@font-face {
    font-family: "Raleway";
    src: url("../utils/fonts/Raleway-Italic-VariableFont_wght.ttf") format("woff2");
    font-style: normal;
}

body {
    font-family: "Raleway", sans-serif;
}