body {
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: rgb(2, 133, 65);
    padding: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2000;

    img {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        a {
            font-size: 20px;
        }

        transition: 0.3s;

        &:hover {

            transform: scale(1.1);
        }

        font-weight: bold;
    }

    h1 {
        margin: 0%;
        color: white;
    }

}

footer {
    background-color: rgb(2, 133, 65);
    color: white;
    text-align: center;

    p {
        padding: 1rem;
        margin: 0;
    }
}

#map {
    height: 70%;
    width: 100%;
    margin: 1rem;
    justify-self: center;
    align-self: center;
}