body {
  margin: 0;
  padding: 0;
font-family: "Segoe UI", sans-serif;
}

header {
  background-color: rgb(2, 133, 65);
  padding: 1rem;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;

  img {
    width: 100px;
    height: 50px;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  li {
    a {
      font-size: 20px;
    }

    transition: 0.3s;

    &:hover {

      transform: scale(1.1);
    }

    font-weight: bold;
  }

  h1 {
    margin: 0%;
    color: white;
  }

}

footer {
  background-color: rgb(2, 133, 65);
  color: white;
  text-align: center;

  p {
    padding: 1rem;
    margin: 0;
  }
}



/* Filtros */

#buscador {
  position: sticky;
  top: 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
  display: flex;
  background-color: white;
  z-index: 1;
}

#buscador form {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 120px;
  gap: 10px;
}

#buscador input {
  float: none;
  width: auto;
  max-width: 100%;
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
}

#buscador button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 1rem;

  color: #222222;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 23px;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;

  &:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }

  &:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }

  &:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
}

select {
  outline: none;
  padding: 0.1rem 0.1em;
  border-radius: 0.25em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  background-color: #fff;

  &:after {
    content: "";
    width: fit-content;
    height: fit-content;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);

  }
}


/* Catalogo */

#resultadosCanchas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0rem;
  gap: 1rem;
  flex: 1;
}

#canchaData {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
  border-radius: 8px;

  p {
    align-self: start;
    margin: 0.3rem 0rem;
  }
}

#canchaData #canchaNombre {
  font-weight: bold;
}

#canchaData #canchaUbicacion {
  color: gray;
  font-weight: lighter;

}

h2 {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}


#canchaData button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  gap: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

#canchaData button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#canchaData button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#canchaData button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


#horarios {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

}

#horarios p {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: rgb(2, 133, 65);
  font-weight: bold;
}

p {
  text-align: center;
}
