body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

header {
    background-color: rgb(2, 133, 65);
    padding: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    img {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        a {
            font-size: 20px;
        }

        transition: 0.3s;

        &:hover {

            transform: scale(1.1);
        }

        font-weight: bold;
    }

    h1 {
        margin: 0%;
        color: white;
    }

}

footer {
    background-color: rgb(2, 133, 65);
    color: white;
    text-align: center;

    p {
        padding: 1rem;
        margin: 0;
    }
}


.login-container {
    width: 300px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background: #1d4ed8;
}

.error {
    color: red;
    margin-top: 10px;
}
@font-face {
    font-family: "Raleway";
    src: url("../utils/fonts/Raleway-Italic-VariableFont_wght.ttf") format("woff2");
    font-style: normal;
}
