body {
    margin: 0;
    padding: 0;
font-family: "Segoe UI", sans-serif;
}

header {
    background-color: rgb(2, 133, 65);
    padding: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    img {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        a {
            font-size: 20px;
        }

        transition: 0.3s;

        &:hover {

            transform: scale(1.1);
        }

        font-weight: bold;
    }

    h1 {
        margin: 0%;
        color: white;
    }

}

footer {
    background-color: rgb(2, 133, 65);
    color: white;
    text-align: center;

    p {
        padding: 1rem;
        margin: 0;
    }
}

#turnos {
    max-width: 80%;
    margin: 40px auto;
    padding: 30px;
    background: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    color: #333;

    h2 {
        text-align: center;
        margin-bottom: 5px;
        color: rgb(2, 133, 65);
        ;
    }

    p {
        text-align: center;
        margin-bottom: 25px;
        color: #555;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        label {
            font-weight: 600;
            font-size: medium;
            margin-bottom: 5px;
            display: block;
        }




        select,
        input[type="date"],
        input[type="time"] {
            width: 100%;
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 8px;

            transition: border-color 0.2s ease;
        }

        select,
        input[type="date"],
        input[type="time"] {
            width: 100%;
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            transition: border-color 0.2s ease;
        }

        select:focus,
        input:focus {
            border-color: rgb(2, 133, 65);
            outline: none;
        }



        .seleccion {
            display: flex;
            gap: 0.5rem;
        }

        #diasSemana {
            label {
                font-weight: normal;
            }
        }

        #boton {
            background: rgb(2, 133, 65);
            color: white;
            border: none;
            border-radius: 10px;
            padding: 10px 16px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background 0.2s;
        }

        #boton:hover {
            background: #175f38;
        }
    }
}