html {
    height: 100%;
}

header {
    background-color: rgb(2, 133, 65);
    padding: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
        height: 50px;
        cursor: pointer;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        a {
            font-size: 20px;
        }

        transition: 0.3s;

        &:hover {

            transform: scale(1.1);
        }

        font-weight: bold;
    }
}

main {
    overflow: auto;
    height: 100%;
    width: 100%;

}

body {
    height: 100%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tituloHeader {
    margin: 0%;
    color: white;
}

.bienvenida {
    position: relative;
}

.bienvenida img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.bienvenida .titulo {
    position: absolute;
    top: 0;
    z-index: 1;
    background: linear-gradient(100deg, white, white, transparent, transparent);
    width: 100%;
    height: 100%;

}



.carrusel {
    width: 100%;
    overflow: hidden;
    ;
}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin: 0;
}

.carrusel li {
    width: 100%;
    list-style: none;
    position: relative;
    overflow: hidden;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.canchas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.services {
    position: relative;
    width: 400px;
    height: 200px;
    transition: 0.4ms;
    cursor: pointer;
    background-size: cover;
    /* hace que la imagen cubra todo */
    background-position: center;
    /* centra la imagen */
}

.F5 {
    background-image: url('../utils/images/f5.png');

    &:hover {
        transform: scale(1.05);
        background-image: url('../utils/images/futbol 5.gif');
    }
}

.F8 {
    background-image: url('../utils/images/F8.png');

    &:hover {
        transform: scale(1.05);
        background-image: url('../utils/images/futbol 8.gif');
    }
}

.F11 {
    background-image: url('../utils/images/F11.png');

    &:hover {
        transform: scale(1.05);
        background-image: url('../utils/images/futbol 11.gif');
    }
}

footer {
    background-color: rgb(2, 133, 65);
    color: white;
    text-align: center;


}

/* FAQ estilos */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;


}

.faq details {

    padding: 0.5rem;
    width: 80%;

    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    background: #fff;
}

details summary {
    color: rgb(2, 133, 65);
    ;
    list-style: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details summary::-webkit-details-marker {
    display: none;
}

.faq summary::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' viewBox='0 0 24 24'><path d='M12 15.5l-7-7 1.41-1.41L12 12.67l5.59-5.58L19 8.5z'/></svg>");
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.faq details[open] summary::after {
    transform: rotate(180deg);

}

.contacto {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
}

.contacto h2,
.contacto p {
    grid-column: 1;
}

.contacto p {
    grid-column: 1;
}


.formContacto {
    grid-column: 2;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin-top: 1rem;
    background-color: rgb(2, 133, 65);
    padding: 1rem;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px 0px;
}

.formContacto input,
textarea {
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    background: none;
    outline: none;
}

.formContacto input::placeholder,
.formContacto textarea::placeholder {
    color: #eee;
}

.formContacto button {
    background-color: white;
    color: rgb(2, 133, 65);
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.formContacto button:hover {
    transform: scale(1.05);
}



.cancha {
    position: relative;
    display: grid;
    width: 500px;
    height: 300px;
    background: #7bc47f;
    border: 4px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

/* Jugadores */
.jugador {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #000;
}

/* Pelota */
.pelota {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffeb3b;
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.7s ease;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff");
    font-style: normal;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}